@font-face{
    font-family:'fire';
    src:url('../fonts/Flames.ttf') format('truetype');
}

body{
    background-color:black;
    margin: 0;
    padding: 0;
}
#click{
       margin:0 auto;
}

header {
    margin:0 auto;
    background-color: #D83F87;
}

.firstheading{
    text-align: center;
    color:white;
    font-size: 200%;
    padding-top: 1%;
    margin:0 auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    
}

.playh{
    font-family: 'Chelsea Market', cursive;
    color: white;
    font-size: 300%;
    text-align: center;
    margin:2% auto;
    margin: 0 auto;
    background-color: rgb(94, 4, 94);
}
.image{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0em;
    vertical-align: baseline;
}

#fig1 {
    border-color: grey;
    border-style:solid;
    border-width: .5rem .5rem;
    margin: 2% 2%;
    position: relative;
    height: 400px;
    width: 400px;
    object-fit: cover;
    cursor: pointer;
    box-shadow: 8px 8px 15px 5px white;
}

#fig3{
    border-color: grey;
    border-style:solid;
    border-width: .5rem .5rem;
    margin: 2% 2%;
    position: relative;
    height: 400px;
    width: 400px;
    object-fit: cover;
    cursor: pointer;
    box-shadow: 8px 8px 15px 5px white;
}
#fig2{
    border-color:grey;
    border-style:solid;
    border-width: .5rem .5rem;
    margin: 2% 2%;
    position: relative;
    height: 400px;
    width: 400px;
    object-fit: cover;
    cursor: pointer;
    box-shadow: 8px 8px 15px 5px #fff;
}

.pra{
    display: block;
    text-align: center;
    color: ivory;
    font-family: 'Pacifico', cursive,sans-serif;
    font-size: 75px;
}

#play{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow:    0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
    box-shadow: 0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    font-size: 50px;
    color: #fff;
}

#play span {
    display: inline-block;
    padding: 20px 30px;
    background-color: #ec528d;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(338, 90%, 80%, .8)), to(hsla(338, 90%, 70%, .2)));
    background-image: -webkit-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    background-image: -moz-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    background-image: -o-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    font-family: 'Pacifico', Arial, sans-serif;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

#play:hover span {
    background-color: #ec6a9c;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .9), 0 0 5px rgba(255, 255, 255, .8);
}

#play:active, #button:focus {
    -webkit-box-shadow:    0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow:    0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
}

#play:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

.buttonreset{
     text-align: center;
     align-items: center;
     padding-bottom: 0.5%;
     border-spacing: 1%;
}
.playbutton{
    text-align: center;
    align-items: center;
    margin-top: 2px;
}
#fig1:hover {
    border-color: #fff;
    box-shadow: 40px 20px 15px 5px #fff;
}
#fig2:hover {
    border-color: #fff;
    box-shadow: 40px 20px 15px 5px #fff;
}
#fig3:hover {
    border-color: #fff;
    box-shadow: 40px 20px 15px 5px #fff;
}


#click , #reset ,#computer{
    color: white !important;
    text-transform: uppercase;
    text-decoration: none;
    background: black;
    padding: 20px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    font-size: 70%;
    }

#reset:hover {
        color: #ffffff !important;
        background: #f6b93b;
        border-color: #f6b93b !important;
        transition: all 0.4s ease 0s;
    }
#click:hover {
    color: #ffffff !important;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s;
}   

#computer:hover {
    color: #ffffff !important;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s;
}  

@media screen and (max-width: 600px) {
   #fig1{
    border-color: grey;
    border-style:solid;
    border-width: .3rem .3rem;
    margin: 2% 2%;
    position: relative;
    height: 130px;
    width: 130px;
    object-fit: cover;
    cursor: pointer;
    box-shadow: 5px 10px 8px  white ; 
   }
   #fig2{
    border-color: grey;
    border-style:solid;
    border-width: .3rem .3rem;
    margin: 2% 2%;
    position: relative;
    height: 130px;
    width: 130px;
    object-fit: cover;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px white;
}
#fig3{
    border-color: grey;
    border-style:solid;
    border-width: .3rem .3rem;
    margin: 2% 2%;
    position: relative;
    height: 130px;
    width: 130px;
    object-fit: cover;
    cursor: pointer;
    box-shadow: 4px 4px 4px 3px white;
}
#computer{
    margin-top: 3px;
}
.pra{
    font-size: 50px;
}

.playbutton{

    height: 100px;
    width: 100px;
    align-items: center;
    text-align: center;
    margin-left: 25%;
}
}








